<ul>
    <li>{{badge.name}}</li>
    <li>{{badge.description}}</li>
    <li>Objectif : {{badge.objective.name}}</li>
    <li>Rapporte {{badge.points}} points!</li>
</ul>
<form name="badgeValidateForm" class="form" ng-submit="badgeValidateForm.$valid && homeCtrl.check(badge.name)" novalidate>
    <input type="text" ng-model="homeCtrl.obtentionValue[badge.name]" placeholder="Value to test" required>
    <input type="submit" class="btn btn-default" ng-disabled="!badgeValidateForm.$valid" value="Vérifier obtention">
</form>