<div class="container jumbotron" ng-controller="GoalCtrl as goalCtrl">
    <div class="page-header text-center">
        <h1>Créer un objectif</h1>
    </div>
    <form name="goalCreateForm" class="form" ng-submit="goalCreateForm.$valid && goalCtrl.addGoal()" novalidate>

        <div class="form-group text-left">
            <label for="goal-name">Nom</label>
            <input name="goalName" type="text" class="form-control " id="goal-name" placeholder="Nom de l'objectif"
                   ng-model="goalCtrl.goal.name" required>
        </div>

        <ul>
            <li class="list-group-item" ng-repeat="iteration in goalCtrl.goal.conditions">
                <div class="input-group">
                    <input type="text" placeholder="Nom de la variable" ng-model="iteration.required" required>
                    <select ng-change="goalCtrl.changeComparison(iteration, typeValeurComparaison)" name="typeDeValeurDeComparaison" class = "selectpick form-control"
                            ng-model="typeValeurComparaison" required>
                        <option value="" disabled selected>Sélectionnez un type de valeur à comparer</option>
                        <option value="string">Texte</option>
                        <option value="number">Nombre</option>
                        <option value="boolean">Booléen</option>
                    </select>

                    <number-form></number-form>
                    <boolean-form></boolean-form>
                    <string-form></string-form>
                </div>
                <br/><br/>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                    <input type="button" ng-click="goalCtrl.addComparison()" value="Ajouter une condition">
                </div>

                <div class=" text-center">
                    <input type="submit" class="btn btn-default" ng-disabled="!goalCreateForm.$valid" value="Créer l'objectif"/>
                </div>
            </li>
        </ul>
    </form>
</div>
