<div class="container jumbotron" ng-controller="GoalCtrl as goalCtrl">
    <div class="page-header text-center">
        <h1>Créer un objectif</h1>
    </div>
    <form name="goalCreateForm" class="form" ng-submit="goalCreateForm.$valid && goalCtrl.addGoal()" novalidate>
        <div class="form-group text-left">
            <label for="goal-name">Nom</label>
            <input name="goalName" type="text" class="form-control " id="goal-name" placeholder="Nom de l'objectif"
                   ng-model="goalCtrl.goal.name" required>
        </div>

        <date-validity-goal></date-validity-goal>

        <br/>
        <br/>

        <div>
            <span>
                <label>Temps pour compléter l'objectif : </label>

                  <select name="duration" class="selectpick form-control" ng-model="goalCtrl.goal.duration" required>
                    <option value="day" selected>Jour (récurrent)</option>
                    <option value="week">Semaine (récurrent)</option>
                    <option value="month">Mois (récurrent)</option>
                    <option value="all" disabled>Du {{goalCtrl.goal.timeBox.startDate | date:'dd/MM/yyyy'}} au {{goalCtrl.goal.timeBox.endDate | date:'dd/MM/yyyy'}} (non disponible)</option>
                  </select>


              <!--
                <input type="number" ng-model="goalCtrl.goal.duration" required>
                <label> jours</label>
                -->
            </span>
        </div>

        <br/>
        <br/>

        <ul>
            <conditions></conditions>

            <li class="list-group-item">
                <div class="input-group">
                    <span>
                        <input type="button" ng-click="goalCtrl.addComparison()" value="Ajouter une comparaison">
                        <input type="button" ng-click="goalCtrl.addOverall()" value="Ajouter un overall">
                    </span>
                </div>
            </li>

            <add-badges></add-badges>

            <li class="list-group-item">
                <div class="center-block">
                    <input type="submit" class="btn btn-default" ng-disabled="!goalCreateForm.$valid" value="Créer l'objectif"/>
                </div>
            </li>
        </ul>

    </form>
</div>
