<div class="container jumbotron" ng-controller="GoalCtrl as goalCtrl">
    <div class="page-header text-center">
        <h1>Create a goal</h1>
    </div>
    <form name="goalCreateForm" class="form" ng-submit="goalCreateForm.$valid && goalCtrl.addGoal()" novalidate>

        <div class="form-group text-left">
            <label for="goal-name">Name</label>
            <input name="goalName" type="text" class="form-control " id="goal-name" placeholder="Name of the goal"
                   ng-model="goalCtrl.goal.name" required>
        </div>

        <ul>
            <li class="list-group-item" ng-repeat="iteration in goalCtrl.goal.conditions">
                <div class="input-group">
                    <span class="btn-primary input-group-addon">Temperature</span>
                    <select name="comparaison" class="selectpicker form-control"
                            ng-model="iteration.comparison" required>
                        <option value="inf">Less than</option>
                        <option value="eq">Equal to</option>
                        <option value="sup">Greater than</option>
                        <option value="dif">Not equal to</option>
                    </select>
                    <input type="number" name="tempInput" class="form-control" id="goal-value" placeholder="Valeur"
                           ng-model="iteration.value"
                           required>
                </div>
                <br/><br/>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                    <input type="button" ng-click="goalCtrl.addComparison()" value="Add a comparator">
                </div>

                <div class=" text-center">
                    <input type="submit" class="btn btn-default" ng-disabled="!goalCreateForm.$valid" value="Créer l'objectif"/>
                </div>
            </li>
        </ul>
    </form>
</div>
