<div class="row">
  <center><h1>EcoKnowledge</h1></center>
  <div class="container pull-right">

    <div class="span6 pull-right" style="text-align:left; margin-right:8px;margin-top:-80px;">
      <select name="typeOfDashboard" class="selectpicker form-control"
              ng-model="dashboard.dashboardWanted"
              ng-change="dashboard.changeDashboardView()">
        <option value="personal" selected>Personnel</option>
        <option ng-repeat="option in dashboard.dashboardViews" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>

  </div>

  <list-goal></list-goal>
  <list-trophies></list-trophies>
  <list-challenge></list-challenge>
</div>
