<h1>{{viewGoalCtrl.goal.name}}</h1>
<div>
    Remplissable du {{viewGoalCtrl.goal.timeBox.startDate|date}} au {{viewGoalCtrl.goal.timeBox.endDate|date}}
    <br/>
    Durée : {{viewGoalCtrl.goal.duration}} jours
</div>
<ul>
    <li class="list-group-item" ng-repeat="condition in viewGoalCtrl.goal.conditions">
        {{condition.expression.description}}
    </li>
</ul>
<div>
    Badge associé : {{viewGoalCtrl.badge.name}}
    <br/>
    Fait gagner {{viewGoalCtrl.badge.points}} points
    <br/>
</div>