.challenges-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.challenge-btn {
  float: right;
}

.challenge-item {
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
  font-size: 150%;
}

.challenge-name {
  text-align: center;
}

.challenge-container {
  width: 70%;
  margin-bottom: 35px;
  width: 550px;
  padding: 15px;
}

.user {
  background-color: #5ECD6D;
}

.team {
  background-color: #0086b3;
}

.challenge-container table {
  width: 100%;
  height: 100%;
}

.challenge-container .challenge-name, .challenge-container .challenge-points {
  margin-bottom: 15px;
}

.challenge-container .challenge-desc {
}

.challenge-container .challenge-goal {

}

.challenge-container .challenge-points {

}

.challenge-container .challenge-check {

}

.challenge-status-WAIT {
  background-color: grey;
  opacity: 0.5;
}

.challenge-status-RUNNING {
  background-color: #28a4c9;
}

.challenge-status-SUCCESS {
  background-color: green;
}

.challenge-status-FAIL {
  background-color: red;
}

.challenge-date {
  font-size:80%;
}

