.badge-container {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #DFDFDF;
  border: 1px solid #6C6C6C;
  width:70%;
}

.badge-item {
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
}

.badge-item .bronze {
  background-color: #cd7f32;
}

.badge-item .silver {
  background-color: #C0C0C0;
}

.badge-item .gold {
  background-color: #FFD700;
}

.trophies-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.badge-container .number-of-badge {
  float:right;
  top: 0px;
}
