<span class="badge-container">
    <h3 class="badge-name">{{badge.name}}</h3>
    <p class="badge-desc">{{badge.description}}</p>
    <p class="badge-goal">Objectif : {{badge.objectives[0].name}}</p>
    <p class="badge-points">Valeur du badge : {{badge.points}} points!</p>

<form name="badgeValidateForm" class="form badge-check" ng-submit="badgeValidateForm.$valid && homeCtrl.check(badge)" novalidate>
    <input type="submit" class="btn btn-default" value="Vérifier obtention">
</form>
<p ng-if="badge.yes" class="bg-success badge-status-success">Badge Obtenu !!!</p>
<p ng-if="badge.fail" class="bg-danger badge-status-fail">TRY AGAIN !</p>

  </span>
