<div class="badge-container">
  <input type="button" value="Enlever ce défi" ng-click="homeCtrl.removeObjective(challenge)">
  <table>
    <tr>
      <td>
        <h3 class="badge-name">{{challenge.name}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        Temps restant - du {{challenge.startDate}} au {{challenge.endDate}}
      </td>
    </tr>
    <tr>
      <td>
        <div class="progress">
          <div class="progress-bar"
               ng-class="{
               'progress-bar-danger':challenge.timeProgress > 80,
                'progress-bar-warning':challenge.timeProgress > 30 && challenge.timeProgress < 80,
                'progress-bar-success':challenge.timeProgress < 30
                }" role="progressbar" aria-valuenow="{{100-challenge.timeProgress}}"
               aria-valuemin="0" aria-valuemax="100" style="width:{{100-challenge.timeProgress}}%">
          </div>
        </div>
      </td>

    <tr>
      <table ng-repeat="condition in challenge.progress">
        <td>
          {{condition.condition.description}}
        </td>
        </tr>
        <tr >
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{condition.percentageAchieved}}"
                   aria-valuemin="0" aria-valuemax="100" style="width:{{condition.percentageAchieved}}%">
                {{condition.percentageAchieved}}%
              </div>
            </div>
          </td>
        </tr>
      </table>
    </tr>

  </table>

</div>
