<div class="badge-container">
  <input type="button" value="Enlever cet objectif" ng-click="homeCtrl.removeObjective(goalInstance)">
  <table>
    <tr>
      <td>
        <h3 class="badge-name">{{goalInstance.name}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        Temps restant - du {{goalInstance.startDate}} au {{goalInstance.endDate}}
      </td>
    </tr>
    <tr>
      <td>
        <div class="progress">
          <div class="progress-bar"
               ng-class="{
               'progress-bar-danger':goalInstance.timeProgress > 80,
                'progress-bar-warning':goalInstance.timeProgress > 30 && goalInstance.timeProgress < 80,
                'progress-bar-success':goalInstance.timeProgress < 30
                }" role="progressbar" aria-valuenow="{{100-goalInstance.timeProgress}}"
               aria-valuemin="0" aria-valuemax="100" style="width:{{100-goalInstance.timeProgress}}%">
          </div>
        </div>
      </td>

    <tr>
      <table ng-repeat="condition in goalInstance.progress">
        <td>
          {{condition.description}}
        </td>
        </tr>
        <tr >
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{condition.conditionAchieved}}"
                   aria-valuemin="0" aria-valuemax="100" style="width:{{condition.conditionAchieved}}%">
                {{condition.conditionAchieved}}%
              </div>
            </div>
          </td>
        </tr>
      </table>
    </tr>

  </table>

</div>
