<label>Température : </label>
<br/>
<span>
    <input type="text" placeholder="Nom Symbolique du capteur" ng-model="iteration.expression.valueLeft.value" required>
    <select ng-model="iteration.expression.comparison" required>
        <option value="" disabled selected>Choisissez un type de comparaison</option>
        <option value="<">a baissé de</option>
        <option value=">">a augmenté de</option>
    </select>
    <input type="number" ng-change="goalCtrl.checkPercent(iteration)" ng-model="iteration.threshold" required>
    <label>% par rapport </label>
    <select ng-model="iteration.referencePeriod.unitToSubtract" required>
       <option value="" disabled selected>Choisissez une période de référence</option>
       <option value="week">à la semaine dernière</option>
       <option value="month">au mois dernier</option>
       <option value="month">à l'année dernière</option>
    </select>
    {{iteration.referencePeriod.unitToSubtract}}
</span>
<br/>
<input type="text" placeholder="Description de la condition" ng-model="iteration.description" required>
