<div ng-if="typeValeurComparaison=='number'">
    <select name="comparaison" class="selectpicker form-control"
            ng-model="iteration.expression.comparison" ng-required="typeValeurComparaison == 'number'">
        <option value="" disabled selected>Sélectionnez un moyen de comparaison</option>
        <option value="<">Inférieur à</option>
        <option value="===">Égal à</option>
        <option value=">">Supérieur à</option>
        <option value="!==">Différent de</option>
    </select>
</div>